@use "src/styles/_variables.scss" as vars;

:host {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  color: vars.$beige;

  svg {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    transition: all .3s ease-in-out;
  }
}
