@use "src/styles/_variables.scss" as vars;

.product {
  padding-block: 3rem;
  gap: 4rem;

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  &__card {
    gap: inherit;
    padding-bottom: 4rem;
    border-bottom: 2px solid vars.$green;

    @media (max-width: 860px) {
      flex-flow: column;
    }

    &__image {
      min-width: 350px;

      @media (max-width: 720px) {
        min-width: 100%;
      }

      .image-container {
        border-radius: vars.$default-radius * 2;
        overflow: hidden;
        padding-bottom: 100%;
      }
    }

    &__description {
      &_social {
        flex-wrap: wrap;
        gap: 1rem;

        button {
          padding: 0.5rem 1rem;

          img {
            height: 20px;
          }
        }
      }

      &_characteristics {
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 425px) {
          grid-template-columns: 1fr;
        }

        ul {
          list-style: none;
          font-size: 1.2rem;

          li:before {
            content: "—";
            position: relative;
            left: -0.5rem;
          }
        }
      }
    }
  }

  &__cross {
    gap: 2rem;

    @media (max-width: 680px) {
      flex-wrap: wrap;
    }

    app-product-block {
      height: auto;
    }
  }
}
