@use "bootstrap/scss/functions";

$fontFamily: Gilroy, sans-serif;
$fontSize: 1rem;

$container-width: 1200px;
$default-gap: 16px;
$default-radius: 20px;
$default-padding: 32px;
$default-blur: 6.5px;
$section-padding: 16px;

$bg-color: #E0D8CF; //#fffbec
$text-color: #19291F;
$green: #1A5623;
$beige: #FFF1BE;
$white: #E0D8CF;

@mixin glass() {
  background-color: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur($default-blur);
  -webkit-backdrop-filter: blur($default-blur);
}

:root {
  --bs-primary-rgb: #{functions.to-rgb($green)};
  --bs-secondary-rgb: #{functions.to-rgb($beige)};
  --bs-border-radius-lg: #{$default-radius * 1.5};
  --swiper-theme-color: #{$green} !important;
  --swiper-preloader-color: #{$green} !important;
}
