<section class="container">
  <div class="d-flex flex-column align-items-center consultation">
    <div class="consultation__controls d-flex flex-column align-items-end">
      <h2 class="fw-normal text-center mb-4 text-secondary">
        Получите бесплатную консультацию администратора и задайте уточняющие вопросы
      </h2>
      <div class="input-group input-group-lg mb-4">
        <input type="text" class="form-control" placeholder="Ваше имя" aria-label="name" />
      </div>
      <div class="input-group input-group-lg mb-4">
        <input type="text" class="form-control" placeholder="Ваш номер телефона" aria-label="phone" />
      </div>
      <button appMainButton themeColor="alternative">Получить консультацию</button>
    </div>
  </div>
</section>
