<section class="container">
  <div class="d-flex flex-column align-items-center consultation">
    <form class="consultation__controls d-flex flex-column" [formGroup]="form">
      <h2 class="fw-normal text-center mb-4 text-secondary">Оставьте заявку и получите консультацию</h2>
      <div class="input-group input-group-lg mb-4">
        <input type="text" class="form-control" placeholder="Ваше имя" aria-label="name" formControlName="nameFF" />
      </div>
      <div class="input-group input-group-lg mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="Ваш проект"
          aria-label="project"
          formControlName="projectFF"
        />
      </div>
      <div class="input-group input-group-lg mb-4">
        <input
          type="text"
          class="form-control"
          prefix="+7 "
          mask="(000) 000 00 00"
          placeholder="Номер телефона"
          aria-label="phone"
          formControlName="telFF"
          [instantPrefix]="false"
        />
      </div>
      <div class="input-group input-group-lg">
        <input
          type="text"
          class="form-control"
          placeholder="Другой контакт"
          aria-label="contact"
          formControlName="contactFF"
        />
      </div>
      <span #successMsg class="success-msg">Заявка успешно отправлена!</span>
      <button
        #submitBtn
        class="submit-btn"
        appMainButton
        themeColor="alternative"
        [disabled]="form.invalid || submitBtn.classList.contains('loading')"
        (click)="submitClick.next()"
      >
        <div class="spinner-border" role="status"></div>
        Получить консультацию
      </button>
    </form>
  </div>
</section>
