@use "src/styles/_variables.scss" as vars;

:host {
  display: block;
  background-color: vars.$green;
  padding: 4rem 0;
}

footer {
  min-height: 240px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 600;

  @media (max-width: 785px) {
    > div:last-child {
      margin-left: auto;
    }
  }


  @media (max-width: 444px) {
    justify-content: center;

    > div {
      align-items: center;

      &:last-child {
        margin-left: 0 !important;
      }
    }
  }

  a {
    width: max-content;
    color: vars.$beige;
    transition: color .3s ease-in-out;

    &:hover {
      color: vars.$beigeHover;
    }
  }

  .logo {
    position: relative;
    width: 140px;
    height: 180px;

    app-logo:hover {
      color: vars.$beigeHover;
    }

    @media (max-width: 444px) {
      app-logo {
        justify-content: center;
      }
    }
  }

  .social {
    gap: 1rem;
  }
}
