@use "src/styles/_variables.scss" as vars;

:host {
  display: block;
  background-color: vars.$green;
  padding: 4rem 0;
}

footer {
  height: 240px;
  font-size: 2rem;
  font-weight: 600;

  a {
    width: max-content;
    color: vars.$beige;
    transition: color .3s ease-in-out;

    &:hover {
      color: #FFD89E;
    }
  }

  .logo {
    position: relative;
    width: 140px;
  }
}
