<footer class="container d-flex justify-content-between">
  <div class="logo">
    <img ngSrc="assets/images/logo.svg" alt="logo" fill priority routerLink="/" style="cursor: pointer" />
  </div>
  <div class="d-flex flex-column gap-3">
    @for (item of menu; track item.link) {
      <a href="{{ item.link }}">{{ item.name }}</a>
    }
  </div>
  <div class="d-flex flex-column align-items-end gap-1 social">
    <a href="tel:{{ digits }}">
      <div class="d-flex gap-3 align-items-center">
        <img src="assets/icons/phone.svg" />
        {{ phone }}
      </div>
    </a>
    <app-social-buttons [size]="50" />
  </div>
</footer>
