<footer class="container">
  <div class="d-flex">
    <div class="position-relative w-25 h-75 logo">
      <img ngSrc="assets/images/logo.svg" alt="logo" fill priority />
    </div>
    <div class="d-flex flex-column gap-4">
      @for (item of menu; track item.link) {
        <a href="{{ item.link }}">{{ item.name }}</a>
      }
    </div>
    <div class="d-flex flex-column">
      <a href="tel:{{ digits }}">{{ phone }}</a>
      <div class="d-flex">
        @for (item of social; track item.link) {
          <a href="{{ item.link }}">{{ item.icon }}</a>
        }
      </div>
    </div>
  </div>
</footer>
