@use "src/styles/_variables.scss" as vars;

:host {
  display: block;
  background-color: vars.$green;
  padding: 4rem 0;
}

footer {
  height: 240px;
  font-size: 2rem;
  font-weight: 600;

  a {
    width: max-content;
    color: vars.$beige;

    &:hover {
      color: #FFD89E;
    }
  }

  .logo {
    position: relative;
    width: 140px;
  }

  .social {
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    img {
      max-height: 38px;

      &.vk {
        max-height: 48px;
      }
    }
  }
}
