<header
  class="container"
  [class.glass]="hasBlur() || isProductPage()"
  [class.dark-text]="skipFirst() || isProductPage()"
  [class.menu-active]="isDropdownActive()"
>
  @if (isNarrow()) {
    <app-menu-btn (click)="onMenuClick()" />
  }
  <div class="app-menu" [class.mobile]="isNarrow()">
    @for (item of menu; track item.link) {
      @if (item.link === '/') {
        <a [routerLink]="item.link" (click)="isDropdownActive.set(false)">{{ item.name }}</a>
      } @else {
        <a [href]="item.link" (click)="isDropdownActive.set(false)">{{ item.name }}</a>
      }
    }
  </div>
  <a href="tel:{{ digits }}">{{ phone }}</a>
</header>
