<header
  class="container"
  [class.glass]="hasBlur() || isProductPage()"
  [class.dark-text]="skipFirst() || isProductPage()"
  [class.menu-active]="isDropdownActive()"
>
  @if (isNarrow()) {
    <app-menu-btn [toggle]="isDropdownActive()" (click)="onMenuClick()" />
  }
  <div class="app-menu" [class.mobile]="isNarrow()">
    @for (item of menu(); track item.link) {
      <a [routerLink]="getHrefBase(item.link)" [fragment]="getHrefFragment(item.link)" (click)="onMenuClick()">{{
        item.name
      }}</a>
    }
  </div>
  <a href="tel:{{ digits }}">{{ phone }}</a>
</header>
