:host {
  display: block;
  width: 100%;
  background: #383838 url("/assets/images/main/glass-2560x.webp") center/cover no-repeat;

  @media (max-width: 1920px) {
    background: #383838 url("/assets/images/main/glass-1920x.webp") center/cover no-repeat;
  }

  @media (max-width: 1280px) {
    background: #383838 url("/assets/images/main/glass-1280x.webp") center/cover no-repeat;
  }

  @media (max-width: 720px) {
    background: #383838 url("/assets/images/main/glass-720x.webp") center/cover no-repeat;
  }

  @media (max-width: 480px) {
    background: #383838 url("/assets/images/main/glass-480x.webp") center/cover no-repeat;
  }
}

.logo {
  min-width: 250px;
}
